ri.cxf-dosgi-ri-singlebundle-distribution/.classpath
ri.cxf-dosgi-ri-singlebundle-distribution/.project
ri.cxf-dosgi-ri-singlebundle-distribution/.settings
ri.cxf-dosgi-ri-singlebundle-distribution/target
ri.exportComponent/ri.soap.cxf.server/.project
ri.exportComponent/ri.soap.cxf.server/.settings
ri.exportComponent/ri.soap.cxf.server/target
ri.exportComponent/ri.soap.cxf.service/.classpath
ri.exportComponent/ri.soap.cxf.service/.project
ri.exportComponent/ri.soap.cxf.service/.settings
ri.exportComponent/ri.soap.cxf.service/target
ri.gateway.communicator/.classpath
ri.gateway.communicator/.project
ri.gateway.communicator/.settings
ri.gateway.communicator/target
ri.gateway.communicator/uAAL.log
ri.internetgateway/.classpath
ri.internetgateway/.project
ri.internetgateway/.settings
ri.internetgateway/target
ri.pom/*.project
ri.pom/*.settings
ri.pom/ri.karaf.feature/.classpath
ri.pom/ri.karaf.feature/.project
ri.pom/ri.karaf.feature/.settings
ri.pom/ri.karaf.feature/target
ri.pom/target
ri.profile.agent/.classpath
ri.profile.agent/.project
ri.profile.agent/.settings
ri.profile.agent/target
ri.servicegateway/*.log
ri.servicegateway/.classpath
ri.servicegateway/.project
ri.servicegateway/.settings
ri.servicegateway/target
