* text=auto !eol
ri.internetgateway/pom.xml -text
ri.internetgateway/src/main/java/org/universAAL/ri/internetgateway/Activator.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/AdditionalTypesParser.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/Axis2ParserWrapper.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/ComplexTypesParser.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/ParsingUtils.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/SimpleTypesParser.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis1WebServiceInvoker.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2InvocationResultHandler.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2InvocationResultHandler_RPC.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2InvocationResultHandler_RpcEncoded.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2WebServiceInvoker.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2_RpcEncodedMessageBuilder.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/ITIWebServiceInvocator.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/InvocationResult.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/ComplexObject.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/NativeObject.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/ParsedWSDLDefinition.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/WSOperation.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/WSOperationInput.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/WSOperationOutput.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/parser/Axis1ParserWrapper.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/parser/DocumentStyleWSDLParser.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/parser/LoggingOutputStream.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/parser/MitsosParser.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/parser/StdOutErrLevel.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/parser/WSDLParser.java -text
ri.internetgateway/src/main/java/org/universAAL/ri/wsdlToolkit/parser/WSDL_XSD_SchemaToolkit.java -text
ri.pom/pom.xml -text
ri.servicegateway/ASL2.0.txt -text
ri.servicegateway/LICENSE-CPL-JUnit -text
ri.servicegateway/LICENSE-JGCL -text
ri.servicegateway/LICENSE-MIT11-httpunit -text
ri.servicegateway/MITX.txt -text
ri.servicegateway/NOTICE -text
ri.servicegateway/artifact_manual.composite -text
ri.servicegateway/old[!!-~]test/LoginServletTest.java -text
ri.servicegateway/pom.xml -text
ri.servicegateway/src/main/java/org/universAAL/ri/servicegateway/Activator.java -text
ri.servicegateway/src/main/java/org/universAAL/ri/servicegateway/GatewayPort.java -text
ri.servicegateway/src/main/java/org/universAAL/ri/servicegateway/GatewayPortTracker.java -text
ri.servicegateway/src/main/java/org/universAAL/ri/servicegateway/impl/Base64.java -text
ri.servicegateway/src/test/java/org/universAAL/ri/servicegateway/test/ArtifactIntegrationTest.java -text
ri.servicegateway/src/test/java/org/universAAL/ri/servicegateway/test/GatewayPortTestImpl.java -text
