* text=auto !eol
pom-1.0.1-SNAPSHOT/pom.xml -text
ri.cxf.server-1.3.2-SNAPSHOT/ASL2.0.txt -text
ri.cxf.server-1.3.2-SNAPSHOT/LICENSE.txt -text
ri.cxf.server-1.3.2-SNAPSHOT/MITX.txt -text
ri.cxf.server-1.3.2-SNAPSHOT/NOTICE.txt -text
ri.cxf.server-1.3.2-SNAPSHOT/pom.xml -text
ri.cxf.server-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/soap/cxf/server/Activator.java -text
ri.cxf.server-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/soap/cxf/server/ServiceImpl.java -text
ri.cxf.service-1.3.2-SNAPSHOT/LICENSE.txt -text
ri.cxf.service-1.3.2-SNAPSHOT/MITX.txt -text
ri.cxf.service-1.3.2-SNAPSHOT/NOTICE.txt -text
ri.cxf.service-1.3.2-SNAPSHOT/pom.xml -text
ri.cxf.service-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/soap/cxf/service/Activator.java -text
ri.cxf.service-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/soap/cxf/service/ServiceInterface.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/pom.xml -text
ri.gateway.communicator-1.2.1-SNAPSHOT/ri.gateway.communicator.properties -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/Activator.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/CommunicationException.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/CommunicationHandler.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/GatewayCommunicator.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/Message.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/RemoteSpacesManager.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/ResponseCallback.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/CommunicationException.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/CommunicatorStarter.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/GatewayAddress.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/GatewayCommunicatorImpl.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/MessageType.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/MessageWrapper.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/Serializer.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/SocketCommunicationHandler.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ExportExecutor.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ExportManager.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ExportPremise.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ImportExecutor.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ImportManager.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ImportPremise.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/RepoEIManager.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/AbstractProxyManager.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/BusMemberType.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/EIConstraintEvaluator.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/EIManagerRegistryListener.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/ExportManagerImpl.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/ImportManagerImpl.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/InternalEIOperation.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/ProxyBusMember.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/ProxyManager.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ExportEntry.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ExportProcessExecutor.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ExportedProxyManager.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/InternalExportOperation.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ProxyContextSubscriber.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ProxyRegistration.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ProxyServiceCaller.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ProxyUICaller.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ImportEntry.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ImportProcessExecutor.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ImportRequest.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ImportedProxyManager.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/InternalImportOperation.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ProxyContextPublisher.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ProxyServiceCallee.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ProxyUIHandler.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/AbstractRegistry.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/EIRepoAccessManager.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/IRegistryListener.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/NonPersistentExportImportRegistry.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/RegistryEntry.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/RepoOperation.java -text
ri.gateway.communicator-1.2.1-SNAPSHOT/src/test/java/org/universAAL/ri/gateway/communicator/ArtifactTest.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/pom.xml -text
ri.gateway.communicator-1.3.2-SNAPSHOT/ri.gateway.communicator.properties -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/Activator.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/CommunicationException.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/CommunicationHandler.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/GatewayCommunicator.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/Message.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/RemoteSpacesManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/ResponseCallback.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/CommunicationException.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/CommunicatorStarter.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/EncryptionWrapper.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/GatewayAddress.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/GatewayCommunicatorImpl.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/MessageType.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/MessageWrapper.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/SecurityEntry.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/SecurityManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/SecurityUtils.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/Serializer.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/communicator/service/impl/SocketCommunicationHandler.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ExportExecutor.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ExportManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ExportOperationInterceptor.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ExportPremise.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ImportEntry.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ImportExecutor.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ImportManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ImportOperationInterceptor.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/ImportPremise.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/RepoEIManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/exception/InterruptExecutionException.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/AbstractProxyManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/BusMemberType.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/EIConstraintEvaluator.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/EIManagerRegistryListener.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/EIOperationManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/ExportInterceptorsComparator.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/ExportManagerImpl.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/ImportInterceptorsComparator.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/ImportManagerImpl.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/InternalEIOperation.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/ProxyBusMember.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/ProxyManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ExportEntry.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ExportProcessExecutor.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ExportedProxyManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/InternalExportOperation.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ProxyContextSubscriber.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ProxyRegistration.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ProxyServiceCaller.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/exporting/ProxyUICaller.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ImportProcessExecutor.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ImportRequest.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ImportedProxyManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/InternalImportOperation.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ProxyContextPublisher.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ProxyServiceCallee.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/importing/ProxyUIHandler.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/AbstractRegistry.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/EIRepoAccessManager.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/IRegistryListener.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/NonPersistentExportImportRegistry.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/RegistryEntry.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/registry/RepoOperation.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/security/ExportSecurityOperationInterceptor.java -text
ri.gateway.communicator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/gateway/eimanager/impl/security/ImportSecurityOperationInterceptor.java -text
ri.internetgateway-1.2.1-SNAPSHOT/pom.xml -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/internetgateway/Activator.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/AdditionalTypesParser.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/Axis2ParserWrapper.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/ComplexTypesParser.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/ParsingUtils.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/SimpleTypesParser.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis1WebServiceInvoker.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2InvocationResultHandler.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2InvocationResultHandler_RPC.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2InvocationResultHandler_RpcEncoded.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2WebServiceInvoker.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2_RpcEncodedMessageBuilder.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/ITIWebServiceInvocator.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/InvocationResult.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/ComplexObject.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/NativeObject.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/ParsedWSDLDefinition.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/WSOperation.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/WSOperationInput.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/WSOperationOutput.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/Axis1ParserWrapper.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/DocumentStyleWSDLParser.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/LoggingOutputStream.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/MitsosParser.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/StdOutErrLevel.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/WSDLParser.java -text
ri.internetgateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/WSDL_XSD_SchemaToolkit.java -text
ri.internetgateway-1.3.2-SNAPSHOT/ASL2.0.txt -text
ri.internetgateway-1.3.2-SNAPSHOT/MITX.txt -text
ri.internetgateway-1.3.2-SNAPSHOT/NOTICE.txt -text
ri.internetgateway-1.3.2-SNAPSHOT/pom.xml -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/internetgateway/Activator.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/internetgateway/InternetGateway.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/restToolkit/ClientHttpRequest.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/restToolkit/RestClient.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/AdditionalTypesParser.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/Axis2ParserWrapper.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/ComplexTypesParser.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/ParsingUtils.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/axis2Parser/SimpleTypesParser.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis1WebServiceInvoker.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2InvocationResultHandler.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2InvocationResultHandler_RPC.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2InvocationResultHandler_RpcEncoded.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2WebServiceInvoker.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/Axis2_RpcEncodedMessageBuilder.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/invocation/InvocationResult.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/ComplexObject.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/NativeObject.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/ParsedWSDLDefinition.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/WSOperation.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/WSOperationInput.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/ioApi/WSOperationOutput.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/Axis1ParserWrapper.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/DocumentStyleWSDLParser.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/LoggingOutputStream.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/MitsosParser.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/StdOutErrLevel.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/WSDLParser.java -text
ri.internetgateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/wsdlToolkit/parser/WSDL_XSD_SchemaToolkit.java -text
ri.pom-1.0.2-SNAPSHOT/pom.xml -text
ri.pom-1.1.2-SNAPSHOT/pom.xml -text
ri.pom-1.2.1-SNAPSHOT/pom.xml -text
ri.pom-1.3.2-SNAPSHOT/pom.xml -text
ri.pom-1.3.3-SNAPSHOT/pom.xml -text
ri.servicegateway-1.0.1-SNAPSHOT/LICENSE -text
ri.servicegateway-1.0.1-SNAPSHOT/LICENSE-CPL-JUnit -text
ri.servicegateway-1.0.1-SNAPSHOT/LICENSE-JGCL -text
ri.servicegateway-1.0.1-SNAPSHOT/LICENSE-MIT11-httpunit -text
ri.servicegateway-1.0.1-SNAPSHOT/NOTICE -text
ri.servicegateway-1.0.1-SNAPSHOT/artifact.composite -text
ri.servicegateway-1.0.1-SNAPSHOT/pom.xml -text
ri.servicegateway-1.0.1-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/Activator.java -text
ri.servicegateway-1.0.1-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPort.java -text
ri.servicegateway-1.0.1-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPortTracker.java -text
ri.servicegateway-1.0.1-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/impl/Base64.java -text
ri.servicegateway-1.0.1-SNAPSHOT/src/test/java/org/unversAAL/ri/servicegateway/LoginServletTest.java -text
ri.servicegateway-1.0.2-SNAPSHOT/LICENSE -text
ri.servicegateway-1.0.2-SNAPSHOT/LICENSE-CPL-JUnit -text
ri.servicegateway-1.0.2-SNAPSHOT/LICENSE-JGCL -text
ri.servicegateway-1.0.2-SNAPSHOT/LICENSE-MIT11-httpunit -text
ri.servicegateway-1.0.2-SNAPSHOT/NOTICE -text
ri.servicegateway-1.0.2-SNAPSHOT/artifact_manual.composite -text
ri.servicegateway-1.0.2-SNAPSHOT/pom.xml -text
ri.servicegateway-1.0.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/Activator.java -text
ri.servicegateway-1.0.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPort.java -text
ri.servicegateway-1.0.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPortTracker.java -text
ri.servicegateway-1.0.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/impl/Base64.java -text
ri.servicegateway-1.0.2-SNAPSHOT/src/test/java/org/unversAAL/ri/servicegateway/LoginServletTest.java -text
ri.servicegateway-1.0.2-SNAPSHOT/src/test/java/org/unversAAL/ri/servicegateway/test/ArtifactIntegrationTest.java -text
ri.servicegateway-1.1.2-SNAPSHOT/LICENSE -text
ri.servicegateway-1.1.2-SNAPSHOT/LICENSE-CPL-JUnit -text
ri.servicegateway-1.1.2-SNAPSHOT/LICENSE-JGCL -text
ri.servicegateway-1.1.2-SNAPSHOT/LICENSE-MIT11-httpunit -text
ri.servicegateway-1.1.2-SNAPSHOT/NOTICE -text
ri.servicegateway-1.1.2-SNAPSHOT/artifact_manual.composite -text
ri.servicegateway-1.1.2-SNAPSHOT/pom.xml -text
ri.servicegateway-1.1.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/Activator.java -text
ri.servicegateway-1.1.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPort.java -text
ri.servicegateway-1.1.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPortTracker.java -text
ri.servicegateway-1.1.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/impl/Base64.java -text
ri.servicegateway-1.1.2-SNAPSHOT/src/test/java/org/unversAAL/ri/servicegateway/LoginServletTest.java -text
ri.servicegateway-1.1.2-SNAPSHOT/src/test/java/org/unversAAL/ri/servicegateway/test/ArtifactIntegrationTest.java -text
ri.servicegateway-1.2.1-SNAPSHOT/ASL2.0.txt -text
ri.servicegateway-1.2.1-SNAPSHOT/LICENSE-CPL-JUnit -text
ri.servicegateway-1.2.1-SNAPSHOT/LICENSE-JGCL -text
ri.servicegateway-1.2.1-SNAPSHOT/LICENSE-MIT11-httpunit -text
ri.servicegateway-1.2.1-SNAPSHOT/MITX.txt -text
ri.servicegateway-1.2.1-SNAPSHOT/NOTICE -text
ri.servicegateway-1.2.1-SNAPSHOT/artifact_manual.composite -text
ri.servicegateway-1.2.1-SNAPSHOT/old[!!-~]test/LoginServletTest.java -text
ri.servicegateway-1.2.1-SNAPSHOT/pom.xml -text
ri.servicegateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/Activator.java -text
ri.servicegateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPort.java -text
ri.servicegateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPortTracker.java -text
ri.servicegateway-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/impl/Base64.java -text
ri.servicegateway-1.2.1-SNAPSHOT/src/test/java/org/universAAL/ri/servicegateway/test/ArtifactIntegrationTest.java -text
ri.servicegateway-1.2.1-SNAPSHOT/src/test/java/org/universAAL/ri/servicegateway/test/GatewayPortTestImpl.java -text
ri.servicegateway-1.3.2-SNAPSHOT/ASL2.0.txt -text
ri.servicegateway-1.3.2-SNAPSHOT/LICENSE-CPL-JUnit -text
ri.servicegateway-1.3.2-SNAPSHOT/LICENSE-JGCL -text
ri.servicegateway-1.3.2-SNAPSHOT/LICENSE-MIT11-httpunit -text
ri.servicegateway-1.3.2-SNAPSHOT/MITX.txt -text
ri.servicegateway-1.3.2-SNAPSHOT/NOTICE -text
ri.servicegateway-1.3.2-SNAPSHOT/artifact_manual.composite -text
ri.servicegateway-1.3.2-SNAPSHOT/old[!!-~]test/LoginServletTest.java -text
ri.servicegateway-1.3.2-SNAPSHOT/pom.xml -text
ri.servicegateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/Activator.java -text
ri.servicegateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPort.java -text
ri.servicegateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPortTracker.java -text
ri.servicegateway-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/impl/Base64.java -text
ri.servicegateway-1.3.2-SNAPSHOT/src/test/java/org/universAAL/ri/servicegateway/test/ArtifactIntegrationTest.java -text
ri.servicegateway-1.3.2-SNAPSHOT/src/test/java/org/universAAL/ri/servicegateway/test/GatewayPortTestImpl.java -text
ri.servicegateway-1.3.3-SNAPSHOT/ASL2.0.txt -text
ri.servicegateway-1.3.3-SNAPSHOT/LICENSE-CPL-JUnit -text
ri.servicegateway-1.3.3-SNAPSHOT/LICENSE-MIT11-httpunit -text
ri.servicegateway-1.3.3-SNAPSHOT/NOTICE.txt -text
ri.servicegateway-1.3.3-SNAPSHOT/artifact_manual.composite -text
ri.servicegateway-1.3.3-SNAPSHOT/old[!!-~]test/LoginServletTest.java -text
ri.servicegateway-1.3.3-SNAPSHOT/pom.xml -text
ri.servicegateway-1.3.3-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/GatewayPort.java -text
ri.servicegateway-1.3.3-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/impl/Base64.java -text
ri.servicegateway-1.3.3-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/osgi/Activator.java -text
ri.servicegateway-1.3.3-SNAPSHOT/src/main/java/org/universAAL/ri/servicegateway/osgi/GatewayPortTracker.java -text
ri.servicegateway-1.3.3-SNAPSHOT/src/test/java/org/universAAL/ri/servicegateway/test/ArtifactIntegrationTest.java -text
ri.servicegateway-1.3.3-SNAPSHOT/src/test/java/org/universAAL/ri/servicegateway/test/GatewayPortTestImpl.java -text
