ri.exportComponent/ri.soap.cxf.service/.classpath
ri.exportComponent/ri.soap.cxf.service/.project
ri.exportComponent/ri.soap.cxf.service/.settings
ri.exportComponent/ri.soap.cxf.service/target
ri.gateway.communicator/.classpath
ri.gateway.communicator/.project
ri.gateway.communicator/.settings
ri.gateway.communicator/target
ri.gateway.communicator/uAAL.log
ri.internetgateway/.classpath
ri.internetgateway/.project
ri.internetgateway/.settings
ri.internetgateway/target
ri.pom/*.project
ri.pom/*.settings
ri.pom/target
ri.servicegateway/*.log
ri.servicegateway/.classpath
ri.servicegateway/.project
ri.servicegateway/.settings
ri.servicegateway/target
